* {
}


img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: brown;
}

h2 {
    font-size: x-large;
    text-align: center;
    color: tan;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: darkkhaki;
    margin-left: 50px;
}

ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cadetblue;
    margin-left: 50px;
}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: steelblue;
    margin-left: 60px;

}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    margin: 10px 50px;
}

a {
    color: cadetblue;
    border-color: black;
    background-color: whitesmoke;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    display: inline-block;
    margin: 10px;
    border: 5px ridge brown;
    width: fit-content;

}

div.css {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

li {
    margin: 7px;
}

.group1 {
    background-color: black;
    color: white;
}

.group2 {
    background-color: yellow;
}

.cool{
    background-color: rgb(255,182,193);
    font-family: Verdana, DejaVu-Sans, sans-serif;
}

#tu {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#tri {
    font-size: 24px;
}

#for {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}